<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">

        <!-- Nagłówek pobieramy z modelu -->
        <h2 class="list-heading" th:text="${heading}">Twoje polubione auta</h2>
        <!-- Zostawiamy tylko pierwszy element <li> -->
        <ul class="car-list" th:remove="all-but-first">
            <!-- Pętla po wszystkich samochodach z modelu -->
            <li class="car-list-item" th:each="car: ${cars}">
                <!-- Link do strony pojedynczego samochodu /auto/5 -->
                <a href="#" th:href="@{|/auto/${car.id}|}">
                    <!-- Po uruchomieniu aplikacji ścieżka do placeholdera plakatu wygląda nieco inaczej -->
                    <img src="../static/img/poster-placeholder.png"
                         th:src="${car.poster ne null} ? @{|/img/${car.poster}|} : @{/img/poster-placeholder.png}"
                         alt="samochod"
                         class="car-list-item-poster">
                </a>
                <div class="car-list-item-card">
                    <div class="car-list-item-content">
                        <h3 class="car-list-item-title">

                            <a  th:text="${car.brand}">Marka</a>
                        </h3>
                        <!-- model -->
                        <h4 th:text="${car.model}">Model</h4>
                        <!-- Rok produkcji -->
                        <p th:text="${car.carYear}">Rocznik</p>
                    </div>
                    <div class="car-list-item-rating">
                        <i class="fas fa-star"></i>
                        <!-- Zaokrąglamy ocenę do 1 miejsca przed i po przecinku -->
                        <span th:if="${car.ratingCount}" th:text="${#numbers.formatDecimal(car.avgRating, 1, 1)}">8.7</span>
                        <span th:if="!${car.ratingCount}">Brak ocen</span>
                    </div>
                    <form th:action="@{|/user/delete-rating/${car.id}|}" method="post">
                        <button type="submit" style="font-size: larger; color: black; width: 80px;">Usuń Ocenę</button>
                    </form>
                </div>
            </li>
            <li class="car-list-item">
                <a href="#">
                    <img src="../static/img/poster-placeholder.png"
                         alt="samochod"
                         class="car-list-item-poster">
                </a>
                <div class="car-list-item-card">
                    <div class="car-list-item-content">
                        <h3 class="car-list-item-title">
                            <a href="#">Marka</a>
                        </h3>
                        <h4>Model</h4>
                        <p>Rok produkcji</p>
                    </div>
                    <div class="car-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="car-list-item">
                <a href="#">
                    <img src="../static/img/poster-placeholder.png"
                         alt="samochod"
                         class="car-list-item-poster">
                </a>
                <div class="car-list-item-card">
                    <div class="car-list-item-content">
                        <h3 class="car-list-item-title">
                            <a href="#">Marka</a>
                        </h3>
                        <h4>Model</h4>
                        <p>Rocznik</p>
                    </div>
                    <div class="car-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>